# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.js text
*.cc text
*.c text
*.h text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.spec text eol=lf

# Denote all files that are truly binary and should not be modified.
*.gif binary
*.png binary
*.jpg binary
