m4/
.deps/
.libs/
contrib/
report/
site/
autom4te.cache/
aclocal.m4
depcomp
missing
install*sh
ltmain.sh
libtool
configure
config.*
stamp-*
test-driver
Makefile
Makefile.in
CHANGELOG.md
*cppunit-results.xml
*.gcno
*.gcda
*.src.tar.gz
*.changes
*.deb
*.rpm
