m4/
docs/
.deps/
.libs/
autom4te.cache/
aclocal.m4
depcomp
missing
install*sh
ltmain.sh
libtool
configure
config.*
stamp-*
test-driver
Makefile
Makefile.in
*cppunit-results.xml
*.gcno
*.gcda
*.src.tar.gz
*.changes
*.deb
